@normal-color: #1f242a;
@line-color: rgba(229, 229, 229, 0.4);
@shadow-color: rgba(37, 46, 65, 0.1);
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, PingFang SC,
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: @normal-color;
  text-decoration: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
