<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="header">
        <div class="date">
            <span class="number">21</span>/
            <span class="month">二月</span>
        </div>
        <p>向未来生长吧，世界还需要我们不断提问。</p>
    </div>
    <div class="order-handler-wrapper">
        <ul class="order-list-wrapper">
            <li class="order-list">
                <a href="">
                    <i class="icon">
                        <img src="http://cimg1.fenqile.com/ibanner2/M00/00/B1/j6gHAFvatM6APf46AAAu349T1mM942.png" alt="">
                    </i>
                    <p>普惠乐卡</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon">
                        <img src="http://cimg1.fenqile.com/ibanner2/M00/33/3B/jagHAFvtIuyAd36CAACK1lJNPgY306.png" alt="">
                    </i>
                    <p>车主贷</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon">
                        <img src="http://cimg1.fenqile.com/ibanner2/M00/32/43/jqgHAFvatP-AAnEzAAAqIwmF4C8809.png" alt="">
                    </i>
                    <p>经营贷</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon">
                        <img src="http://cimg1.fenqile.com/ibanner2/M00/32/BB/jqgHAFwvKFKAV26_AABv-zvgAjQ250.png" alt="">
                    </i>
                    <p>保单贷</p>
                </a>
            </li>
        </ul>
        
    </div>
    <div class="panel-wrappar">
        <div class="panel-hd">
            <i></i>
        </div>
        <div class="panel-bd">
            <h4>客户经理分期乐</h4>
            <p>请立即审批</p>
        </div>
        <div class="panel-fd">
            <i></i>
        </div>
    </div>
    <div class="bottom-nav">
        <ul>
            <li>
                <i></i>
                <p>业务办理</p>
            </li>
            <li>
                <i></i>
                <p>业务管理</p>
            </li>
            <li>
                <i></i>
                <p>消息中心</p>
            </li>
            <li>
                <i></i>
                <p>我的</p>
            </li>
        </ul>
    </div>
</body>
</html>